.background {
  background:  rgba(33, 37, 41, 1) 0%; 
  min-height: 600px;
  width: 500px;
  margin: 40px auto;
  border: 5px solid rgb(70, 70, 70);
}

#musicForm input {
  background: white;
  border: 0;
  color: black;
  width: 300px;
  height: 50px;
  margin: 35px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 5%;
}

#musicForm input::placeholder {
  color: rgba(33, 37, 41, 1);
  font-weight:300;
}
#musicForm input:focus {
  outline: none;
}
#musicForm button {
  height: 40px;
  width: 100px;
  margin-left: -3%;
  border-radius: 5%;
  border: 0;
  background: rgb(63, 63, 63);
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 20px;
}
#musicForm button:focus {
  outline: none;
}
