.background {
  background: radial-gradient(
    circle,
    rgba(203, 251, 63, 1) 0%,
    rgba(193, 42, 168, 1) 97%
  );
  min-height: 600px;
  width: 500px;
  margin: 40px auto;
  border: 10px solid pink;
}

#musicForm input {
  background: linear-gradient(
    0deg,
    rgba(179, 128, 179, 1) 0%,
    rgba(250, 80, 104, 1) 100%
  );
  border: 0;
  color: #fff;
  width: 300px;
  height: 50px;
  margin: 35px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#musicForm input::placeholder {
  color: white;
  font-weight: bold;
}
#musicForm input:focus {
  outline: none;
}
#musicForm button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  cursor: pointer;
  color: rgb(241, 238, 23);
  font-weight: bolder;
  font-size: 20px;
}
#musicForm button:focus {
  outline: none;
}
